@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Amaranth", sans-serif;
}



body{
    max-width: 100vw;
    overflow: hidden;
    background-color: white;
}

.index-container{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
}

form input{
    width: 100%;
    border: none;
    padding: .3rem;
    border-radius: .3rem;
    border: 1.5px solid #ab51ff;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn{
    border: none;
    background-color: #ab51ff;
    padding: .3rem .6rem;
    border-radius: .3rem;
    font-size: 1rem;
    font-weight: 400;
    color: white;
}

#submit{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.short-url-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 60vw;
    border-left: 3px solid #ab51ff;
    margin: 2rem 0;
    padding-left: 2rem;
    border-top-left-radius: .5rem;
}

.short-url-container h3{
    font-size: 1.3rem;
    font-weight: 500;
}

.link-btns-div{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.short-url-container a{
    letter-spacing: .1rem;
}

.double-btns{
    display: flex;
    flex-wrap: wrap;
    gap: .3rem;
}

.click-display-div-container{
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    gap: .5rem;
}

.click-display-div-container span{
    color: #ab51ff;
    font-size: 1.6rem;
}

.click-display-div-container a{
    justify-self: flex-start;
    align-self: flex-start;
    font-size: 1rem;
}



@media screen and (width < 550px) {
    .link-btns-div{
        flex-direction: column;
    }
}

@media screen and (width < 450px){
    .short-url-container, form{
        width: 80vw;
    }
}